{% set SITE_NAME = "Zero dot ∞" %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{ title|d(SITE_NAME) }} &ndash; by Alex</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/highlight.css">
  </head>
  <body>

  <header>
    <h1><a href="/">{{ SITE_NAME }} &ndash; <small><i> by Alex</i></small></a></h1>
    <a href="/">blog</a> |
    <a target="_blank" href="https://github.com/slint">github</a> |
    <a target="_blank" href="https://x.com/AlexIoPan">x</a> |
    <a href="/about.html">about</a>
  </header>

  <hr>
  {% if created %}
  <small title="{{created.isoformat()}}">written on {{ created.strftime('%A, %B %-d, %Y') }}</small>
  {% endif %}
  {% if updated and updated.date() != created.date() %}
  <small title="{{updated.isoformat()}}"> (updated on {{ updated.strftime('%A, %B %-d, %Y') }})</small>
  {% endif %}
  {{ content }}
  <hr>

  <footer>
    <small>© Copyright 2019 by Alex Ioannidis. Content licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0 License</a>.</small>
  </footer>

</body>
</html>
