@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Quicksand", "Helvetica", "Arial", sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
  line-height: 1.5;
  padding: 2em 1em;
  color: #444;
}

a { color: #1a5579; }
h1, h2, strong { color: #222; }
h1 { margin: 0 auto; }
h2 { padding-top: 0.5em; }

code, pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8em;
}
code { padding: 2px 4px; vertical-align: text-bottom; }
pre { padding: 1em; overflow: auto; border-left: 2px solid #C04144; }

header h1 { font-size: 3em; }
header h1 a { text-decoration: none; }
